<hr>
<div class="order-item">
  <div class="row">
    <div class="small-3 columns">
      <div class="order-item-image">
        <%= image_tag(order_item.menu_item.image_url, alt: order_item.menu_item.name) %>
      </div>
    </div>

    <div class="small-8 columns">
      <h3><%= order_item.menu_item.name %></h3>
      <p>Quantity: <%= order_item.quantity %></p>
      <p><%= number_to_currency(order_item.price * order_item.quantity) %></p>

      <% selections = [] %>
      <% order_item.selections.each do |selection| %>
        <% if selection.is_selected %>
          <% selections << selection.option.ingredient.name %>
        <% end %>
      <% end %>
      <p><%= selections.join(", ") %></p>
    </div>

    <div class="small-1 columns">
      <%= link_to order_item_path(order_item.id), method: :delete, title: "delete-order-item" do %>
        <i class="fi-x delete-order-item"></i>
      <% end %>
    </div>
  </div>
</div>
