<h2 class="text-center">Order</h2>
<% unless @order.is_purchased %>
  <%= render partial: "order_item", collection: @order.order_items %>
  <hr>
  <h5>Order subtotal: <%= number_to_currency(@order.subtotal) %></h5>
  <h5>Delivery charge: <%= number_to_currency(@order.delivery_charge) %></h5>
  <div>
  <% unless @order.neighborhood_id.present? %>
    <p> For delivery, please select from one of our available locations: </p>
    <%= render 'neighborhood_selection'%>
  <% else %>
    <p> Delivery location selected: <%= @order.neighborhood.neighborhood_name %></p>
    <div id="edit-neighborhood">
      <%= render 'neighborhood_selection'%>
    </div>
    <p><button id="edit-delivery-location", class="small button radius">Edit Delivery Location</button></p>
  <% end %>
  </div>
  <h5>Total price: <%= number_to_currency(@order.total_price) %></h5>
  <%= link_to "Checkout", new_charge_path(order_id: @order.id), class: "small button radius" %>
<% else %>
  <hr>
  <h3 class="text-center">Cart is Empty</h3>
<% end %>
