<h2 class='item-name'><%= @menu_item.name %></h2>
<p class='item-price'><%= @menu_item.price %></p>
<p class='item-description'><%= @menu_item.description %></p>
<hr>

<%= form_for @order_item do |f| %>
  Options:
  <ul>
    <%= f.fields_for :selections do |selections_form| %>
      <li>
        <%= selections_form.check_box :is_selected %>
        <%= selections_form.label :is_selected, selections_form.object.option.ingredient.name.capitalize %>
      </li>
    <% end %>
  </ul>

  <%= f.label :quantity %>
  <%= f.select :quantity, [1, 2, 3, 4, 5] %>
  <%= f.hidden_field :menu_item_id  %>

  <%= f.submit "Add to Order" %>
<% end %>
