<div class="row">
  <div class="large-6 small-12 columns">
    <%= render "shared/card", menu_item: @menu_item %>
  </div>
</div>

<p class='item-description'><%= @menu_item.description %></p>

<hr>

<% if @menu_item.options.present? %>
  <h4>Options</h4>
<% end %>

<%= form_for @order_item do |f| %>
  <%= f.hidden_field :menu_item_id %>
  <table>
    <tbody>
      <%= f.fields_for :selections do |selections_form| %>
        <tr>
          <% option = selections_form.object.option %>
          <% ingredient = option.ingredient %>
          <%= selections_form.hidden_field :option_id %>

          <td><%= selections_form.check_box :is_selected %></td>
          <td><%= selections_form.label :is_selected, ingredient.name %></td>

          <% if option.is_addon && ingredient.price > 0 %>
            <td>Add <%= number_to_currency(ingredient.price) %></td>
          <% elsif option.is_addon && ingredient.price == 0 %>
            <td>Free</td>
          <% else %>
            <td>Included</td>
          <% end %>

        </tr>
      <% end %>
    <tbody>
  </table>

  <div class="row">
    <div class="large-3 small-6 columns">
      <div class="row">
        <div class="small-6 columns">
          <%= f.label :quantity, class: "inline" %>
        </div>
        <div class="small-6 columns">
          <%= f.select :quantity, [1, 2, 3, 4, 5] %>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <%= f.submit "Add to Order", class: "small button radius" %>
<% end %>
