<div id="overlay"></div>
  <div class="reveal-modal open" data-reveal="" style="visibility: visible; display: block; opacity: 1;">
    <div class="row">
      <div class="small-12 small-centered columns">
        <div class="row">
          <div class="small-6 columns">
            <p class="text-left">
              <a href="/menu_items?is_bulk={{menu_item.is_bulk}}">Back to Menu</a>
            </p>
          </div>
        {{#if order_id}}
          <div class="small-6 columns">
            <p class="text-right">
              <a href="/orders/{{order_id}}">Current Order</a>
            </p>
          </div>
        {{/if}}
        </div>


        {{#if id}}
        <form id="edit-order-item-form" action="/order_item/{{id}}" method="patch" data-id="{{id}}">
          <input type="hidden" name="order_id" value="{{order_id}}">
        {{else}}
        <form id="new-order-item-form" action="/order_items" method="post">
          <input type="hidden" name="menu_item_id" value="{{menu_item.id}}">
        {{/if}}

        {{#with menu_item}}

        <div class="row">
          <div class="small-12 small-centered columns">
            <div class="form-name">
              <h3 class="text-center">{{name}}</h3>
            </div>
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="large-8 small-12 columns">
            <div class="form-image">
              <img alt={{name}} src={{image_url}}>
            </div>
          </div>
          <div class="large-4 small-12 columns">
            <div class="form-description"><p>{{description}}</p></div>
            <div class="form-price"><p>Base Price: {{price}}</p></div>

        {{/with}}

            <label>Quantity
              <select name="quantity">
                {{#if quantity}}
                  <option value="{{quantity}}" selected>--Current Quantity: {{quantity}}--</option>
                {{/if}}
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
              </select>
            </label>
          </div>
        </div>

        {{#if selections}}

        <hr>
        <h3 class="text-center">Included Ingredients</h3>
        <div class="row">
          <div class="large-5 small-12 columns">
            <label>Remove Ingredients</label>
            {{#each selections}}
              {{#unless option.is_addon}}
                <div class="row">
                  <div class="small-1  columns">
                    {{#if is_selected}}
                      <input type="checkbox" name="option_id" value="{{option.id}}" id="{{option.id}}" checked>
                    {{else}}
                      <input type="checkbox" name="option_id" value="{{option.id}}" id="{{option.id}}">
                    {{/if}}
                  </div>
                  <label for="{{option.id}}">
                  <div class="small-6 columns">
                    {{option.ingredient.name}}
                  </div>
                  <div class="small-4 columns text-right">
                    Included
                  </div>
                  </label>
                </div>
              {{/unless}}
            {{/each}}
          </div>
        </div>

        <hr>

        <h3 class="text-center">Customizable Ingredients</h3>
        <div class="row">
          <div class="large-5 small-12 columns">
          <label>Choose a Bagel
              <select name="option_id">
                <option value="">--Select a Different Bagel--</option>
                {{#each selections}}
                  {{#if option.is_addon}}
                    {{#if option.ingredient.is_bagel}}
                      {{#if is_selected}}
                        <option value="{{option.id}}" selected>{{option.ingredient.name}} {{#if option.ingredient.price}} {{option.ingredient.price}}{{/if}}</option>
                      {{else}}
                        <option value="{{option.id}}">{{option.ingredient.name}} {{#if option.ingredient.price}} {{option.ingredient.price}}{{/if}}</option>
                      {{/if}}
                    {{/if}}
                  {{/if}}
                {{/each}}
              </select>
            </label>

            <label>Choose a Cream Cheese
              <select name="option_id">
                <option value="">--Select a Cream Cheese--</option>
                {{#each selections}}
                  {{#if option.is_addon}}
                    {{#if option.ingredient.is_cc}}
                      {{#if is_selected}}
                        <option value="{{option.id}}" selected>{{option.ingredient.name}} {{#if option.ingredient.price}} {{option.ingredient.price}}{{/if}}</option>
                      {{else}}
                        <option value="{{option.id}}">{{option.ingredient.name}} {{#if option.ingredient.price}} {{option.ingredient.price}}{{/if}}</option>
                      {{/if}}
                    {{/if}}
                  {{/if}}
                {{/each}}
              </select>
            </label>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="large-5 small-12 columns">
            <label>Choose your Meat</label>
            {{#each selections}}
              {{#with option}}
                {{#if is_addon}}
                {{#if ingredient.is_meat}}
                  <div class="row">
                    <div class="small-1  columns">
                      <input type="checkbox" name="option_id" value="{{id}}" id="{{id}}">
                    </div>
                    <label for="{{id}}">
                    <div class="small-6 columns">
                      {{ingredient.name}}
                    </div>
                    <div class="small-4 columns text-right">
                      {{ingredient.price}}
                    </div>
                    </label>
                  </div>
                {{/if}}
                {{/if}}
              {{/with}}
            {{/each}}
          </div>

          <div class="large-5 small-12 columns">
            <label>Choose your Toppings</label>
            {{#each selections}}
              {{#with option}}
                {{#if is_addon}}
                {{#if ingredient.is_topping}}
                  <div class="row">
                    <div class="small-1  columns">
                      <input type="checkbox" name="option_id" value="{{id}}" id="{{id}}">
                    </div>
                    <label for="{{id}}">
                    <div class="small-6 columns">
                      {{ingredient.name}}
                    </div>
                    <div class="small-4 columns text-right">
                      {{ingredient.price}}
                    </div>
                    </label>
                  </div>
                {{/if}}
                {{/if}}
              {{/with}}
            {{/each}}
          </div>
        </div>

        {{/if}}
        <hr>
        <p>Total Price: {{total_price}}</p>

        {{#if id}}
          <button id="submit-order-item" type="submit" class="small button radius">Update Order</button>
        {{else}}
          <button id="submit-order-item" type="submit" class="small button radius">Add to Order</button>
        {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>
