<div id="overlay"></div>
  <div class="reveal-modal open" data-reveal="" style="visibility: visible; display: block; opacity: 1;">
    <div class="row">
      <div class="small-6 columns">
        <p class="text-left">
          <a href="/menu_items?is_bulk={{is_bulk}}">Back to Menu</a>
        </p>
      </div>
      <div class="small-6 columns">
        <p class="text-right">
        </p>
      </div>
    </div>

    <div class="body-content row">
      <div class="small-12 small-centered columns">
        <div class="form-name">
          <h3 class="text-center">{{menu_item_name}}</h3>
        </div>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="small-8 columns">
        <div class="form-image">
          <img alt={{menu_item_name}} src={{menu_item_image_url}}>
        </div>
      </div>
      <div class="small-4 columns">
        <div class="form-description"><p>{{menu_item_description}}</p></div>
        <div class="form-price"><p>{{menu_item_price}}</p></div>
      </div>
    </div>

    <div class="row">
      <div class="small-12 small-centered columns">
        <hr>
        <h3>Customize</h3>
      </div>
    </div>
  </div>
</div>

{{!--
<p class='item-description'><%= @menu_item.description %></p>

<hr>

<% if @menu_item.options.present? %>
  <h4>Options</h4>
<% end %>

<%= form_for @order_item do |f| %>
  <%= f.hidden_field :menu_item_id %>
  <div class="row">
    <div class="small-12 columns">
      <ul class="medium-block-grid-2 small-block-grid-1">
        <%= f.fields_for :selections do |selections_form| %>
          <li>
            <% option = selections_form.object.option %>
            <% ingredient = option.ingredient %>
            <%= selections_form.hidden_field :option_id %>

            <div class="row">
              <div class="small-1 columns">
              </div>
              <div class="small-7 columns">
                <%= selections_form.check_box :is_selected %>
                <%= selections_form.label :is_selected, ingredient.name %>
              </div>
              <div class="small-3 columns text-right">
                <% if option.is_addon && ingredient.price > 0 %>
                  <%= number_to_currency(ingredient.price) %>
                <% elsif option.is_addon && ingredient.price == 0 %>
                  Free
                <% else %>
                  Included
                <% end %>
              </div>
              <div class="small-1 columns">
              </div>
            </div>

          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="large-3 small-6 columns">
      <div class="row">
        <div class="small-6 columns">
          <%= f.label :quantity, class: "inline" %>
        </div>
        <div class="small-6 columns">
          <%= f.select :quantity, [1, 2, 3, 4, 5] %>
        </div>
      </div>
    </div>
  </div>

  <hr>
  <%= f.submit "Add to Order", class: "small button radius" %>
<% end %>
 --}}
