<h3 class="text-center">Confirm Order</h3>
<hr>
<div class="row">
  <div class="large-6 small-12 small-centered columns">
    <table class="order-summary">
      <thead>
        <tr>
          <th>Quantity</th>
          <th>Item</th>
          <th class="text-right">Price</th>
        </tr>
      </thead>
      <% @order.order_items.each do |order_item| %>
        <tbody>
          <tr>
            <td><%= order_item.quantity %></td>
            <td><%= order_item.menu_item.name %></td>
            <td class="text-right"><%= number_to_currency(order_item.price * order_item.quantity) %></td>
          </tr>
        </tbody>
      <% end %>
    </table>

    <hr>
    <table class="order-summary">
      <tbody>
        <tr>
          <td class="text-right">Subtotal: <%= number_to_currency(@order.subtotal) %> </td>
        </tr>
        <tr>
          <td class="text-right">Delivery charge: <%= number_to_currency(@order.delivery_charge) %></td>
        </tr>
      </tbody>
    </table>

    <hr>

    <table class="order-summary">
      <tbody>
        <tr>
          <td class="text-right">Total Price: <%= number_to_currency(@amount / 100.0) %></td>
        </tr>
      </tbody>
    </table>


    <%= form_tag charges_path(order_id: params[:order_id]) do %>
      <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Credit Card Information"
              data-amount="<%= @amount %>">
      </script>
    <% end %>
  </div>
</div>
