<div class="contain-to-grid">
  <nav class="top-bar text-center" data-topbar>
    <ul class="title-area">
      <li class= "name">
        <h1><%= link_to root_path, class: "site-name" do %>bob's bagel<% end %></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li>
          <%= link_to menu_items_path(is_bulk: false), title: "personal-menu" do %>
            Personal Menu
          <% end %>
        </li>
        <li>
          <%= link_to menu_items_path(is_bulk: true), title: "bulk-order" do %>
            Bulk Order
          <% end %>
        </li>
      </ul>
      <ul class="right">
        <% if user_signed_in? %>
          <li class="has-dropdown">
            <%= link_to "#" do %>
              <i class="fi-torso"></i> <%= current_user.username %>
            <% end %>
            <ul class="dropdown">
              <li><%= link_to 'Edit profile', edit_user_registration_path %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, class: "small button radius" %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
        <li>
          <%= link_to order_path(session[:order_id]), title: "current-order" do %>
            Current Order
          <% end %>
        </li>
      </ul>
    </section>
  </nav>
</div>
