<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Bob's Bagels" %></title>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= render partial: "layouts/navbar" %>

    <% if request.path == "/" %>
      <%= render partial: "layouts/banner" %>
    <% end %>

    <div class="row">
      <div class="small-12 columns">

        <% if flash[:notice].present? %>
          <p class="notice text-center"><%= flash[:notice] %></p>
        <% end %>

        <% if flash[:alert].present? %>
          <p class="alert text-center"><%= flash[:alert] %></p>
        <% end %>

      <%= yield %>
      </div>
    </div>

    <%= render partial: "layouts/footer" %>

  </body>
</html>
